<mat-drawer-container class="example-container">
	<mat-drawer-content>
		<button mat-raised-button color="primary" (click)="onAdd()">Primary</button>
		<mat-grid-list fxLayout="row" fxLayout.xs="column" class="myGridList" fxLayoutAlign.sm="row" cdkDropList
			(cdkDropListDropped)=" drop($event)" [cols]="cols" gutterSize="10px">
			<mat-grid-tile fxFlex cdkDrag *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
				md-colspan="12" [style.background]="tile.bgColor">

				<mat-card class="card-container" [style.background]="tile.bgColor" [ngSwitch]="tile.id">
					<mat-card-header fxLayout="row" fxLayoutAlign="center center" cdkDragHandle style="cursor: move;">
						<mat-card-title fxLayoutAlign="start" [style.color]="tile.titleColor"> {{tile.name}}
						</mat-card-title>
						<button mat-icon-button [matMenuTriggerFor]="menus"[style.color]="tile.titleColor" aria-label="Example icon-button with a menu">
               <mat-icon>more_vert</mat-icon>
           </button>
						<mat-menu #menus="matMenu">
							<button mat-menu-item >
   	              <button mat-icon-button (click)="onEdit(tile)" aria-label="Example icon-button with a menu">
               <mat-icon>edit</mat-icon>
              </button>
							</button>
							<button mat-menu-item>
   	            <button mat-icon-button (click)="onDelete(tile)"  aria-label="Example icon-button with a menu">
               <mat-icon>delete</mat-icon>
           </button>
							</button>
						</mat-menu>
					</mat-card-header>
					<mat-divider></mat-divider>
					<mat-card-content>
						<app-text-widget *ngSwitchCase="'TextWidgetComponent'"></app-text-widget>
						<app-guage *ngSwitchCase="'GuageComponent'"></app-guage>
						<app-line [result]="" *ngSwitchCase="'LineComponent'"></app-line>
					</mat-card-content>
				</mat-card>
			</mat-grid-tile>
		</mat-grid-list>

	</mat-drawer-content>
</mat-drawer-container>