<h1 mat-dialog-title>Add</h1>
<div mat-dialog-content>
	<mat-form-field>
		<input matInput type="number" placeholder="row" [(ngModel)]="data.rows" value="0" min="2" max="5">
    </mat-form-field>
		<mat-form-field>
			<input matInput type="number" placeholder="col" [(ngModel)]="data.cols" value="0" min="2" max="5">
    </mat-form-field>
			<mat-form-field>
				<input matInput type="text" placeholder="color" [(ngModel)]="data.color">
    </mat-form-field>
				<mat-form-field>
					<input matInput type="text" placeholder="Name" [(ngModel)]="data.text" >
    </mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">No Thanks</button>
	<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>