<h1 mat-dialog-title>Add</h1>
<div mat-dialog-content>
	<div fxLayout="column" fxLayout.xs="column">

		<mat-form-field fxflex>
			<input matInput type="text" placeholder="Name" [(ngModel)]="data.name" >
    </mat-form-field>
			<div cols="6" fxFlex="100%">
				<label>Background Color</label>
				<input   [(colorPicker)]="data.bgColor"
            [style.background]="data.bgColor" [value]="data.bgColor"
            [cpSaveClickOutside]="true" [cpOKButton]="true" [cpOKButtonClass]="'btn btn-primary btn-xs'"
            [cpOKButtonText]="'Ok'"  [cpOutputFormat]="'hex'" [cpPosition]="'left'" />
      </div>

				<div cols="6" fxFlex="100%">
					<label>Title Color</label>
					<input   [(colorPicker)]="data.titleColor"
            [style.background]="data.titleColor" [value]="data.titleColor"
            [cpSaveClickOutside]="true" [cpOKButton]="true" [cpOKButtonClass]="'btn btn-primary btn-xs'"
            [cpOKButtonText]="'Ok'"  [cpOutputFormat]="'hex'" [cpPosition]="'left'" />
      </div>


				</div>
			</div>
			<div mat-dialog-actions>
				<button mat-button (click)="onNoClick()">No Thanks</button>
				<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
			</div>