<h1 mat-dialog-title>Add</h1>
<div mat-dialog-content class="example-form">
	<div fxLayout="column" fxLayout.xs="column">

		<mat-form-field fxflex>
			<input matInput type="text" placeholder="Name" [(ngModel)]="data.name" >
    </mat-form-field>
			<mat-form-field fxflex>
				<input matInput [cpPresetLabel]="data.bgColor" placeholder="Background color"    [(colorPicker)]="data.bgColor"
            [style.background]="data.bgColor" [value]="data.bgColor"
            [cpSaveClickOutside]="true" [cpOKButton]="true" [cpOKButtonClass]="'btn btn-primary btn-xs'"
            [cpOKButtonText]="'Ok'"  [cpOutputFormat]="'hex'" [cpPosition]="'left'" />
    </mat-form-field>

				<mat-form-field fxflex>
					<input matInput [cpPresetLabel]="data.bgColor" placeholder="Title Color"  [(colorPicker)]="data.titleColor"
            [style.background]="data.titleColor" [value]="data.titleColor"
            [cpSaveClickOutside]="true" [cpOKButton]="true" [cpOKButtonClass]="'btn btn-primary btn-xs'"
            [cpOKButtonText]="'Ok'"  [cpOutputFormat]="'hex'" [cpPosition]="'left'" />
       </mat-form-field>

					<mat-form-field fxflex>
						<input matInput [(ngModel)]="data.config.xLabel" placeholder="X-Axis Label">
                </mat-form-field>
						<mat-form-field fxflex>
							<input matInput [cpPresetLabel]="data.config.xColor" placeholder="X-Axis Color"  [(colorPicker)]="data.config.xColor"
                             [style.background]="data.config.xColor" [value]="data.config.xColor"
                                   [cpSaveClickOutside]="true" [cpOKButton]="true" [cpOKButtonClass]="'btn btn-primary btn-xs'"
                                  [cpOKButtonText]="'Ok'"  [cpOutputFormat]="'hex'" [cpPosition]="'left'" />
                </mat-form-field>

	</div>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">No Thanks</button>
	<button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>